{% extends "base.html" %}
{% block content %}


<div class="container">

    <h1>Enter user ID for whom to add time:</h1>
    <div>
        <form method="post">
            <div class="form-group">
                <label>User ID</label>
                <input type="text" class="form-control" id="participant_id" name="participant_id">
                <p class="help-block">Only integer</p>
            </div>

            <a href="{{ url_for('startlist.add_time') }}">
                <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Search</button>
            </a>
            <a type="reset" class="btn btn-danger" href="{{ url_for('startlist.find_runner') }}"><span
                    class="glyphicon glyphicon-erase"></span> Clear all</a>
        </form>
    </div>
</div>


{% endblock %}