{% extends "base.html" %}
{% block content %}

<div class="container">

    {% for startlist in data %}

    <h1>{{ startlist }} </h1>

    <div class="row">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Round</th>
                    <th>Start line</th>
                </tr>
                </thead>
                <tbody>
                {% for last_name, first_name, start_round, start_position in data[startlist] %}
                <tr>
                    <td>{{ last_name }}</td>
                    <td>{{ first_name }}</td>
                    <td>{{ start_round }}</td>
                    <td>{{ start_position }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/><br/>
    {% endfor %}


</div>


        <br/>
</div>

{% endblock %}