<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ITP54 Web tools">
    <meta name="author" content="Frantisek Janus">
    <title>Template Flask application</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pic/briefcase.png') }}" type="image/x-icon"/>

    {% include 'dependencies_css.jinja2' %}

</head>
<body>


    {% block content %}
    {% endblock %}


{% include 'dependencies_js.jinja2' %}

</body>
</html>