{% extends "base.jinja2" %}
{% block content %}

<div class="container">
    <div id="wrapper">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a></p>
        </div>
    </div>
</div>
<!-- container-fluid -->

{% endblock %}