{% extends "participants/participants.html" %}
{% block signup %}

<div class="form-size">

    <div class="row">

        <div class="page-header">
        <h2>Mass Import <small> from a XLS file.</small></h2>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Specify path to the XLS file.
            </div>
            <div class="panel-body">

                <form method="post">

                    <div class="form-group">
                            <label>Path</label>
                            <input type="text" class="form-control" id="path" name="path">
                            <p class="help-block">Unix format: /Users/ferojanus/Desktop/tracktime/registered.xlsx</p>
                        </div>

                    <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Upload</button>
                    <a type="reset" class="btn btn-danger" href="{{ url_for('participants.mass_import') }}"><span
                            class="glyphicon glyphicon-erase"></span> Clear all</a>
                </form>
            </div>
            <!-- panel body-->
        </div>
        <!-- panel -->

    </div>
    <!-- row -->
    {% block message %}
    {% endblock %}

</div>
<!-- form-size -->

{% endblock %}