{% extends "participants/participants.jinja2" %}
{% block signup %}

    <div class="form-size">

        <div class="row">

            <h1 class="page-header"><i class="fa fa-edit"></i> Register new runner</h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Enter participants details
                </div>
                <div class="panel-body">

                    {% from "participants/_formhelpers.jinja2" import render_field %}
                    <form method="post">
                            {{ render_field(form.first_name) }}
                            {{ render_field(form.last_name) }}
                            {{ render_field(form.email_addr) }}
                            {{ render_field(form.year) }}
                        <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Sign up</button>
                        <a type="reset" class="btn btn-danger" href="{{ url_for('participants.index') }}"><span
                                class="glyphicon glyphicon-erase"></span> Clear all</a>
                    </form>
                </div>
                <!-- panel body-->
            </div>
            <!-- panel -->
        </div>
        <!-- row -->
        {% block success %}
        {% endblock %}

    </div>
    <!-- form-size -->

{% endblock %}